<h1 class="center">To Do</h1>
<hr />
<% @tasks.each do |task| %>
  <blockquote>
    <h1 class="underline"><%= task.title %></h1>
    <h2><%= task.description %></h2>
    <i>Task ID: <%= task.id %></i>
    <br /><br />
    <%= link_to 'View Task', task_path(task) %>
    <%= link_to 'Edit Task', edit_task_path(task) %>
    <%= link_to 'Complete Task', @task, method: :delete %>

  </blockquote>
  <hr />
<% end %>
<%= link_to 'Create Task', new_task_path %>