<h1 class="center">To Do</h1>
<hr />
<% if @tasks.any? %>
  <% @tasks.each do |task| %>
    <blockquote>
      <h1 class="underline"><%= task.title %></h1>
      <h2><%= task.description %></h2>
      <i>Task ID: <%= task.id %></i>
      <br /><br />
      <%= link_to 'View Task', task_path(task) %>
      <%= link_to 'Edit Task', edit_task_path(task) %>
      <%= link_to 'Complete Task', task, method: :delete %>

    </blockquote>
    <hr />
  <% end %>
<% else %>
  <h2>There are no tasks. Would you like to create one?</h2>
<% end %>
<%= link_to 'Create Task', new_task_path %>
<%= link_to 'Home', root_path %>