<h1>New Task</h1>
<%= form_for @task do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, placeholder: 'Task Title' %>
  <br />
  <%= f.label :description %>
  <%= f.text_area :description, placeholder: 'Task Description' %>
  <br />
  <%= f.submit %>
<% end %>

<%= link_to 'View Tasks', tasks_path %>
