<h1><%= @task.title %></h1>
<h2><%= @task.description %></h2>
<h3>Status -
  <%= @task.completed ? 'Completed' : 'To Do'  %>
</h3>
<p>Task ID: <%= @task.id %></p>
<%= link_to 'View Tasks', tasks_path %>